/* store page */
.section-titles {
    text-align: center;
    font-size: 2.2rem;
    color: #003366;
    margin-bottom: 30px;
}

/* Jersey Grid */
.jersey-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-bottom: 60px;
}

l .jersey-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.jersey-card img {
    width: 320px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.jersey-card h3 {
    margin: 15px 0 5px;
    color: #003366;
}

.price {
    font-weight: bold;
    color: #0057b8;
    margin-bottom: 15px;
}

.store-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.3s;
}

.store-btn:hover {
    background-color: #0057b8;
}

/* Ticket Section */
.ticket-section {
    background-color: #f4f8fc;
    padding: 60px 20px;
}

.ticket-box {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.ticket-box h2 {
    color: #003366;
    margin-bottom: 10px;
}

.ticket-box p {
    color: #333;
    margin-bottom: 20px;
}

/* Product page */
.contain {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-image {
    flex: 1;
    min-width: 300px;
}

.product-image img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.product-info {
    flex: 1;
    min-width: 300px;
}

.product-info h1 {
    color: #003366;
    font-size: 2rem;
    margin-bottom: 10px;
}

.price {
    color: #0057b8;
    font-weight: bold;
    margin-bottom: 20px;
}

select,
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 180px;
}


.dets-btn {
    display: inline-block;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.dets-btn:hover {
    background-color: #0057b8;
}

.sidebar-brand {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.faq-logo {
    width: 120px;
    height: 80px;
    margin-bottom: -40px;
}

.sidebar-title {
    font-size: 1.7rem;
    color: #003366;
    font-weight: bold;
    margin-bottom: -24px;
}